body {
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;

  }

  .card {
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
  }

  .product {
    border-bottom: solid 1px;
    border-bottom-style: solid;
    border-color: darkgrey;
  }

  #title {
  border-bottom: solid 1px;
  border-bottom-style: solid;
  border-color: darkgrey;
}

img {
  width: 440px;
  height: 450px;
  margin: auto;
  display: block;
}

* {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.card-body {
  padding-top: 25px;
}

footer {
  padding-bottom: 25px;
  font-size: 10px;;
}

.available {
  background-color: #ebced5;
}

.product {
  padding: 5px;
}
